
<!DOCTYPE html>
<html>
<head>
<%- include sidebar %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>New Supplier</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
</head>
<style>

#logs{
    width:100%;
    border: none;
    border-radius:none;
    padding:1px;
    font-size: 16px;
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;             
}

#logs input{
    width: 150px;
}

h2{
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin:0;
}
nav{
    width: 100%;
    background: darkred;
    padding: 20px;
    box-shadow: 0 4px darksalmon; 
    /* border-bottom: 1px solid black;*/
}
  #methodform{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: LightBlue;
  border-color:LightBlue;
  border-radius: 5px; 
  border-width: 1px;
  width: 110px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center; 
    }

  #newlog {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: LightSlateGray;
  border-color:LightSlateGray;
  border-radius: 5px; 
  border-width: 1px;
  width: 150px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center;  
}
#newlog:hover,.form button:active,.form button:focus {
  background:darkgrey ;
}

#submitbutt {
  background:darkred;
}
#submitbutt:hover,.form button:active,.form button:focus {
  background:darksalmon;
}

#logshistory{
    width:100%;
    border: rgb(190, 190, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size: 13px;
}
#logshistory th{
    text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
    </style>

<body>
<h2 style="text-align: center"><nav id="stickHeader">Suppliers Page</nav></h2><br>
<div class="padding"><br><br><br><br>
<form id="addNewSup" method="POST" action="/home/suppliers/addSup">
        <table id="logs">
            <tr>
            <th> Supplier name</th>
            <th> Store num</th>
            <th> Store Link</th>
            <th> Establish year</th>
            <th> Mail</th>
            <th> We chat</th>
            <th> Skype id</th>
            <th> Phone number</th>
            </tr>
        <tr>
            <td> <input type="text" class="form-control" name="supplierName"/></td>
            <td> <input type="text" class="form-control" name="storeNum"/></td>
            <td> <input type="text" class="form-control" name="storeLink"/></td>
            <td> <input type="text" class="form-control" name="establishYear"/></td>
            <td> <input type="text" class="form-control" name="email"/></td>
            <td> <input type="text" class="form-control" name="wechat"/></td>
            <td> <input type="text" class="form-control" name="skypeID"/></td>
            <td> <input type="text" class="form-control" name="phoneNum"/></td>
            <td> <input id="Clear" type="reset" class="form-control" value="Clear"/></td>
            </tr>
        </table><br>
        <div style="text-align:center"><button id="submitbutt" type="submit" class="btn btn-primary btn-lg">Submit</button></div>

    </form>
        
        
        <div style="text-align:center"><h1 id="message"></h1></div>


    <form>
    <h2><nav>Suppliers List</nav></h2><br>
    <table id="logshistory" border="1">
        <tr>
                <th>Supplier Name</th>
                <th>Store Num</th>
                <th>Store Link</th>
                <th>Establish Year</th>
                <th>Mail</th>
                <th>We-Chat</th>
                <th>Skype ID</th>
                <th>Phone Number</th>
                <th>blackList</th>
        </tr>
        <tr>
            <td id="supplierNameRecord"> </td>
            <td id="storeNumRecord"> </td>
            <td id="storeLinkRecord"></td>
            <td id="establishYearRecord"> </td>
            <td id="emailRecord"> </td>
            <td id="wechatRecord"> </td>
            <td id="skypeIDRecord"> </td>
            <td id="phoneNumRecord"> </td>
            <td id="blackListButton"> </td>
            
        </tr>
        </table>
    </form>
    
        <div class="container">
                <div class="modal fade" id="blackListModal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="text-center">Are you sure move to blacklist?</h4>
                      </div>
                      <form id="blackListForm" action="/home/suppliers/addsup" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="supplierName">
                            <input type="hidden" name="blackDate">
                        </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="saveModal" type="submit" class="btn btn-primary">BlackList</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


    </div>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("stickHeader");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}


        $('#addNewSup').submit(function(){
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
                
        var addSup = $.ajax({
                    url : post_url,
                    type: request_method,
                    data : form_data,
                    });
                    
                    addSup.fail( function() {
                    window.alert("Fail!");
                    });

                    addSup.done( function(response) {
                        if (response.redirect !== undefined && response.redirect) {
                        window.location.href = response.redirect_url;
                        }else{
                            var delayInMilliseconds = 2000;
                            
                            setTimeout(function() {
                                location.reload();
                            }, delayInMilliseconds);
                            
                            $("#message").html(response.message);
                        }
                    });
            })
//--------------------------


var suppliersListRes = JSON.parse('<%-JSON.stringify(answer.suppliersListRes)%>');

var supplierName = '';
var storeNum = '';
var storeLink = '';
var storeLinkName = [];
var establishYear = '';
var email = '';
var wechat = '';
var skypeID= '';
var phoneNum = '';
var blackList = '';
var i = '';

for (i = 0; i < suppliersListRes.length; i++) { 
storeNum += suppliersListRes[i].storeNum + "<br><br>";
supplierName += suppliersListRes[i].supplierName + "<br><br>";
storeLink +='<a href="'+ suppliersListRes[i].storeLink +'" target="_blank">Go To Store</a>' + "<br><br>";
establishYear += suppliersListRes[i].establishYear + "<br><br>";
email += suppliersListRes[i].email + "<br><br>";
wechat += suppliersListRes[i].wechat + "<br><br>";
skypeID += suppliersListRes[i].skypeID + "<br><br>";
phoneNum += suppliersListRes[i].phoneNum + "<br><br>";
blackList += '<button data-id="blackList'+[i]+'" type="button" data-value="'+ suppliersListRes[i].supplierName +'" data-toggle="modal" data-target="#blackListModal"><i class="fa fa-thumbs-o-down"></i></button>' + "<br style='line-height: 33px'>";
}

document.getElementById("supplierNameRecord").innerHTML = supplierName;
document.getElementById("storeNumRecord").innerHTML = storeNum;
document.getElementById("storeLinkRecord").innerHTML = storeLink;
document.getElementById("establishYearRecord").innerHTML = establishYear;
document.getElementById("emailRecord").innerHTML = email;
document.getElementById("wechatRecord").innerHTML = wechat;
document.getElementById("skypeIDRecord").innerHTML = skypeID;
document.getElementById("phoneNumRecord").innerHTML = phoneNum;
document.getElementById("blackListButton").innerHTML = blackList;

$('#blackListModal').on('show.bs.modal', function(e) {
var currentdate = new Date(); 
var blackDate = currentdate.getFullYear() + "-"
        + (currentdate.getMonth()+1)  + "-" 
        + currentdate.getDate() + " "  

var supplierName = $(e.relatedTarget).data('value');

$(e.currentTarget).find('input[name="supplierName"]').val(supplierName);
$(e.currentTarget).find('input[name="blackDate"]').val(blackDate);
});


$('#blackListForm').submit(function(event){
event.preventDefault();
var post_url = $(this).attr("action");
var request_method = $(this).attr("method");
var form_data = $(this).serialize();
        
var blackList = $.ajax({
            url : post_url,
            type: POST,
            data : form_data,
            });
            
            blackList.fail( function() {
            window.alert("Fail!");
            });

            blackList.done( function(response) {
                if (response.redirect !== undefined && response.redirect) {
                window.location.href = response.redirect_url;
                }else{
                    location.reload();
                    $('#blackListModal').modal('hide');
                }
            });
    })

</script>

</body>
</html>