
<!DOCTYPE html>

<html>
<%- include sidebar %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>new-supplier</title>


<style>

/*body {
  width: 100%;
  height: 2000px;
  margin: 1;
  padding: 0;
}

.border {
  position:fixed;
  top: 0;
  left: 0;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: 12;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}*/

#logs{
width:100% ;
border: none;
border-radius:none;
padding:1px;
font-size: 16px;
text-align:left;
font-family: Verdana, Geneva, Tahoma, sans-serif;            
}

#logs input{
  border-radius:1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 85%;
  border-color: 1px solid black;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 1px;
  box-sizing: border-box;
  font-size: 12px;
        
    }
    h2{
        text-align:left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-weight: bold;
    }
    nav{
        width: 100%;
        background: darkred;
        padding: 20px;
        box-shadow: 0 4px darksalmon; 
       /* border-bottom: 1px solid black;*/
    }
  #methodform{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: LightBlue;
  border-color:LightBlue;
  border-radius: 5px; 
  border-width: 1px;
  width: 110px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center; 
    }

  #newlog {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: LightSlateGray;
  border-color:LightSlateGray;
  border-radius: 5px; 
  border-width: 1px;
  width: 150px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center;  
}
#newlog:hover,.form button:active,.form button:focus {
  background:darkgrey ;
}
/*#Clear{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: rgba(3, 34, 134, 0.842);
  border-color:black;
  border-radius: 5px; 
  border-width: 1px;
  width: 120px;
  padding: 6px;
  color: #FFFFFF;
  font-size: 12px;
  cursor: pointer;
  text-align: center;  
}
.button:hover,.form button:active,.form button:focus {
  background:goldenrod;
}*/

/*#submitbutt{
    background: white ;
    border-radius: 5px;
    border-color:LightSlateGray;
    color: Teal;
    box-shadow: 0 4px LightSlateGray;
    padding: 1px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/
#submitbutt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background:darkred;
  border-radius: 5px; 
  border-width: 1px;
  width: 120px;
  padding: 6px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center; 
  box-shadow: 0 4px darksalmon; 
}
#submitbutt:hover,.form button:active,.form button:focus {
  background:darksalmon;
}

#logshistory{
width:100% ;
border: none;
border-radius:none;
padding:1px;
font-size: 16px;
text-align:center;
font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
#logshistory th{
text-decoration-line: underline; 
}
    </style>

<body>
        <div class="padding">
<div class="border"></div>
<form id="addNewSup" method="POST" action="/home/suppliers/addSup">
    <h2><nav> + New Supplier</nav></h2>
        <table id="logs">
            <tr>
            <th> Supplier name</th>
            <th> Store num</th>
            <th> Store Link</th>
            <th> Establish year</th>
            <th> Mail</th>
            <th> We chat</th>
            <th> Skype id</th>
            <th> Phone number</th>
            </tr>
        <tr>
            <td> <input type="text" placeholder="Supplier Name" name="supplierName"/></td>
            <td> <input type="text" placeholder="Store Num" name="storeNum"/></td>
            <td> <input type="text" placeholder="Store Link" name="storeLink"/></td>
            <td> <input type="text" placeholder="Establish Year" name="establishYear"/></td>
            <td> <input type="text" placeholder="Mail" name="email"/></td>
            <td> <input type="text" placeholder="We-Chat" name="wechat"/></td>
            <td> <input type="text" placeholder="Skype ID" name="skypeID"/></td>
            <td> <input type="text" placeholder="Phone Number" name="phoneNum"/></td>
            <td> <input id="Clear" type="reset" value=" Clear  "/></td>
            </tr>
        </table>
        <div style="text-align:center"><button id="submitbutt" type="submit">Submit</button></div>

    </form>
        
        <script>
            function addRow() {
                var table = document.getElementById('logs');
                var columnLength = table.getElementsByTagName('tr')[0].children.length;
                var units = document.getElementsByClassName('unit-table');
                var tr = document.createElement('tr');
                tr.className = 'unit-table';
                for (var i = 0; i < columnLength; i++) {
                    var td = document.createElement('td');
                    var text = document.createElement('input');
                    text.type = 'text';
                    td.appendChild(text);
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }

            document.getElementById('newlog').onclick = addRow;

        </script>
        
            <div style="text-align:center"><h1 id="message"></h1></div>

</form>
    <form>
    <h2><nav>Suppliers List</nav></h2><br>
    <table id="logshistory">
        <tr>
                <th> Supplier Name</th>
                <th> Store Num</th>
                <th> Store Link</th>
                <th> Establish Year</th>
                <th> Mail</th>
                <th> We-Chat</th>
                <th> Skype ID</th>
                <th> Phone Number</th>
        </tr>
        <tr>
            <td id="supplierNameRecord"> </td>
            <td id="storeNumRecord"> </td>
            <td id="storeLinkRecord"></td>
            <td id="establishYearRecord"> </td>
            <td id="emailRecord"> </td>
            <td id="wechatRecord"> </td>
            <td id="skypeIDRecord"> </td>
            <td id="phoneNumRecord"> </td>
        </tr>
        </table>

      

        </form>
    </div>

    <script>

            $('#addNewSup').submit(function(){
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serialize(); //Encode form elements for submission
                    
            var addSup = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        addSup.fail( function() {
                        window.alert("Fail!");
                        });

                        addSup.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var delayInMilliseconds = 2000;
                                
                                setTimeout(function() {
                                    location.reload();
                                }, delayInMilliseconds);
                                
                                $("#message").html(response.message);
                            }
                        });
             })
//--------------------------


            var suppliersListRes = JSON.parse('<%-JSON.stringify(answer.suppliersListRes)%>');
            
            var supplierName = '';
            var storeNum = '';
            var storeLink = '';
            var storeLinkName = [];
            var establishYear = '';
            var email = '';
            var wechat = '';
            var skypeID= '';
            var phoneNum = '';
            var i = '';

            for (i = 0; i < suppliersListRes.length; i++) { 
            storeNum += suppliersListRes[i].storeNum + "<br><br>";
            supplierName += suppliersListRes[i].supplierName + "<br><br>";
            storeLink +='<a href="'+ suppliersListRes[i].storeLink +'" target="_blank">Go To Store</a>' + "<br><br>";
            establishYear += suppliersListRes[i].establishYear + "<br><br>";
            email += suppliersListRes[i].email + "<br><br>";
            wechat += suppliersListRes[i].wechat + "<br><br>";
            skypeID += suppliersListRes[i].skypeID + "<br><br>";
            phoneNum += suppliersListRes[i].phoneNum + "<br><br>";
            }
            
            document.getElementById("supplierNameRecord").innerHTML = supplierName;
            document.getElementById("storeNumRecord").innerHTML = storeNum;
            document.getElementById("storeLinkRecord").innerHTML = storeLink;
            document.getElementById("establishYearRecord").innerHTML = establishYear;
            document.getElementById("emailRecord").innerHTML = email;
            document.getElementById("wechatRecord").innerHTML = wechat;
            document.getElementById("skypeIDRecord").innerHTML = skypeID;
            document.getElementById("phoneNumRecord").innerHTML = phoneNum;

    </script>

</body>
</html>