<%- include sidebar %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<div style="width:600px;height:600px" class="padding">
<canvas id="myChart" width="400" height="400"></canvas>

</div>
<script>
var supOrdSumListRes = JSON.parse('<%-JSON.stringify(answer.supOrdSumListRes)%>');

var supplierName = '';
var sumPrice = '';

for (var i = 0; i < supOrdSumListRes.length; i++) { 
    supplierName += supOrdSumListRes[i].supplierName;
    sumPrice += supOrdSumListRes[i].Sum;
}

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [supOrdSumListRes[0].supplierName, supOrdSumListRes[1].supplierName],
        datasets: [{
            label: 'Suppliers with orders worth more than 100$',
            data: [supOrdSumListRes[0].Sum, supOrdSumListRes[1].Sum],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>