
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<%- include sidebar %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>   
</head>
<style>
  .wrapper { 
  display: grid; 
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: 140px;
  max-width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
* {box-sizing: border-box;}

.wrapper {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
}

.wrapper > div {
  grid-row-end: span 2;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: 450px;
  padding: 1em;
  color:black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.box1{
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: span;
  display:table; 
}          
    .dropdown-submenu {
    position:relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
  
   /* #sup{
        width: 150px;
        margin: auto;
        color: white;
        background-color: darkred;
        font-size: 18px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius:5px; 
    }
    #prd{
        width: 150px;
        margin: auto;
        color: white;
        background-color: DarkOrange;
        font-size: 18px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius:5px;
    }
    #logs{
        width: 150px;
        margin: auto;
        color: white;
        background-color: Indigo;
        font-size: 18px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius:5px;
    }
    #ord{
        width: 150px;
        margin: auto;
        color: white;
        background-color: darkgreen;
        font-size: 18px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius:5px;
    }*/
.box {
  width:50%;
  background:white;
  padding:1%;
  border: 1px solid black;
  border-radius: 5px;
  display:inline-block;
  text-align: center;       
    }
table{
  border-collapse:collapse;
  border-spacing:1;
  table-layout:fixed;
}
.charts {
	display:flex;
	flex-wrap: wrap;
}
.chart-card {
	display:table-column;
	flex-direction:column;
	padding: 2%;
	flex: 1 20%;
	background-color: #FFF;
	box-shadow: none;
}
.chart-info {
	margin-top: auto;
	padding-top: 10px;
	text-align: left;
    width:100%;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {

      }
      .row.content {height:auto; } 
  
  </style>
</head>
<body>
    <div class="padding">
    <h1>Charts preformance</h1>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Chart type
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">Radar</a></li>
          <li><a tabindex="-1" href="#">bar</a></li>
          <li><a tabindex="-1" href="#">line</a></li>
    </div><br>
    
<div class="wrapper"> 
<div class="box1">
<div class="box">   
<section class="charts">
<div class="chart-card">
<div class="chart-info"> 
<canvas id="myChart"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["ref", "ret"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
               
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</div> 
</div>

<div class="box">   
<section class="charts">
<div class="chart-card">
<div class="chart-info"> 
<canvas class="my-4 chartjs-render-monitor" id="myChart1"></canvas>
</div>
<script>
        var ctx = document.getElementById("myChart1");
        var myChart1 = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
              data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
              lineTension: 0,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              borderWidth: 4,
              pointBackgroundColor: '#007bff'
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            },
            legend: {
              display: false,
            }
          }
        });
      </script>
</div>
</div>

<div class="box">   
    <section class="charts">
    <div class="chart-card">
    <div class="chart-info">    
    <canvas id="myChart3"></canvas>
    </div>
    <script>
    var ctx = document.getElementById("myChart3").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["ref", "ret"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                   
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
    </div> 
    </div>
 

    <div class="box">   
        <section class="charts">
        <div class="chart-card">
          
        <div class="chart-info"> 
        <canvas class="my-4 chartjs-render-monitor" id="myChart4"></canvas>
        </div>
        <script>
                var ctx = document.getElementById("myChart4");
                var myChart1 = new Chart(ctx, {
                  type: 'polarArea',
                  data: {
                    labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                    datasets: [{
                      data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                      lineTension: 0,
                      backgroundColor: 'transparent',
                      borderColor: '#007bff',
                      borderWidth: 4,
                      pointBackgroundColor: '#007bff'
                    }]
                  },
                  options: {
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: false
                        }
                      }]
                    },
                    legend: {
                      display: false,
                    }
                  }
                });
              </script>
        </div>
        </div>

</div>