<!DOCTYPE html>
<html>
        <%- include sidebar %>
<body>
<style>
body{
    background-image:url("/images/home_pic.jpg");
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 90% 900px;}
</style>

</body>
</html>