<!DOCTYPE html>
<html>
    <head>
    <meta    http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
        <%- include sidebar %>
<title>Items</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
.wrapper { 
  display: grid; 
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: 140px;
  max-width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
* {box-sizing: border-box;}

.wrapper {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
}

.wrapper > div {
  grid-row-end: span 2;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: 450px;
  padding: 1em;
  color:black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}
    h2{
        text-align:left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-weight: bold;
    }
.header nav{
        width: 100%;
        background: DarkOrange;
        padding: 20px;
        box-shadow: 0 4px darkgrey; 
    }

#logshistory{
       width:100%;
       border: none;
       text-decoration-line: underline; 
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-align:left;
}
.card1{
  grid-column-start: 1;
  grid-column-end: 1; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}
/*
.card1 {
float: left;
width:50%;
height: 450px;
max-width:600px ;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
margin:auto;
font-family: arial;
}*/

.card2{
  grid-column-start: 2;
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  text-align: center;
}
/*
.card2 {
float:right;
width:50%;
height: 450px;
margin:auto;
max-width:600px ;
padding-left: 20px;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 600px;
text-align: center;
font-family: arial;
}*/

.NewItem {
  border:none;
  color: black;
  background-color: white; 
  padding: 8px 20px;
  border-radius: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline; 
  position:relative;
}

.inp {
  border: 2px solid black;
  color: black;
  background-image:url("images/home_pic.jpg");
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  width:80%
}

.checkButton{
padding: 8px 20px;
}

::-webkit-input-placeholder {
   text-align: center;
}

.inspicd {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
  margin:auto;
  border-radius: 8px;
  width:100%;
  /* This bit draws the box around it */
  border: 2px solid black;
  padding:3px;
}

.inspici {
  display:flex;
  flex-direction:row;
  margin:auto;
  border-radius: 8px;
  /* This bit draws the box around it */
  border: 2px solid black;
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
}

.inspicb {
  /* Just a little styling to make it pretty */
  border: none;
  outline: 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  padding: 5px
}

#NewItemImage{
    display:flex;
    margin:15px;
    
}
.wrapper > div input ,.wrapper > div select{
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    width:300px;
    box-shadow: 0 3px; 
    cursor: pointer;
}

#sub {
  border: none;
  border-radius: 8px;
  outline: 0;
  color: white;
  background-color: darkorange;
  cursor: pointer;
  width:200px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0 4px darkgray; 
}

#sub:hover {
  opacity: 0.7;
}

.alignImg{
position:absolute;
text-align:center;
padding:20px;
}

.box {
        width:300px;
        background:white;
        padding:1%;
        border: 1px solid black;
        border-radius: 5px;
        display:inline-block;
        text-align: center;  
    }

.products {
display:flex;
flex-wrap: wrap;
}

.product-card {
	display:table-column;
	flex-direction:column;
	padding: 2%;
	flex: 1 16%;
	background-color: #FFF;
	box-shadow: none;
}

.product-image img {
	width: 80%;
}

.product-info {
    
	margin-top: auto;
	padding-top: 20px;
	text-align: left;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 31%;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border:none;
    margin: 1%;
}

.containerTab {
    padding-top: 10px;
    -webkit-text-fill-color: black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the container tab */
.closebtn {
    float: right;
    color: black;
    font-size: 35px;
    cursor: pointer;
}
    </style>


<div class="padding">
<div class="header">
    <h2><nav class="header"> + New Item</nav></h2>
</div>

    <div class="wrapper">
    <div class="card1">
            <div class="NewItem">Upload Item</div><br>
            <form id="addNewItem" action="/home/suppliers/addItem" method="POST">
            <img id="NewItemImage" style="display: inline-block" src="/images/img-icon.png" alt="No Pic" width:"300px"="" height="270px">
            <span class="alignImg">
            <div class="inspicd">
                <input id="itemImg" class="inspici" style="box-shadow:unset" placeholder="Insert Item URL Picture" name="itemPic">
                <button class="inspicb" type="button" onclick="insertPic()"><i class="fa fa-check"></i></button>
            </div><br>
            <input type="text" placeholder="Item Name" name="itemName"><br><br>
            <input type="text" placeholder="Item Link" name="storeItemLink"><br><br>
            <input type="text" placeholder="Item Category" name="category"><br><br>
            <input type="text" placeholder="Price" name="itemPrice"><br><br>
        </span>
    
            <div style="text-align:center"><button id="sub" type="submit">List item</button></div>
    </form></div>


    <div class="card2">
        <form id="associateItem" method="POST" action="/home/suppliers/addItem">
        <div>
            <div class="NewItem">Upload item to supplier tab</div><br><br>
            
                <select id="supNameSelect" name="supplierName" method="POST" action="/home/suppliers/addItem">
                  <option selected="" disabled="">Selecet Supplier</option>
                </select>
            <br><br>
                <select id="storeNumSelect" name="storeNum">
                  <option selected="" disabled="">Selecet Store Num</option>
                </select><br><br> 
                <select id="itemNameSelect" name="itemName">
                        <option selected="" disabled="">Selecet Item Name</option>
                </select><br><br>
            <input type="text" placeholder="Supplier Item Link" name="supItemLink"><br><br>
            <input type="text" placeholder="Supplier Item Price" name="supItemPrice"><br><br><br>
            <button id="sub" type="submit">Associate Item</button>
        </div></form>

            </div><br> 
    </div><br>
    
    <div style="text-align:center"><h1 id="message"></h1></div><br>
   


    <div class="header">
            <h2><nav class="header">Supplier items</nav></h2>
    </div>


        <span style="text-align:center" id="createNewAccosiatedItem"></span>
    
        <div class="header">
                <h2><nav class="header">Non associated items</nav></h2>
        </div>
        <span style="text-align:center" id="createNewItem"></span>

    </div>  

<script>

//-----------------------------------------------Image preview to item upload section----------------------------------------------------------------

        function insertPic(){
        var itemImg = document.getElementById("itemImg").value;
        document.getElementById("NewItemImage").src = itemImg;
        //document.getElementById("itemImg").value = '';
        }

//-----------------------------------------------Load Associated Items----------------------------------------------------------------
            var itemListRes = JSON.parse('<%-JSON.stringify(answer.itemListRes)%>');
            
            var itemName = '';
            var supplierName = '';
            var storeItemLink = '';
            var supItemLink = '';
            var itemPic = '';
            var category = '';
            var itemPrice = '';
            var data = '';
            var supItemPrice = '';
            var altSupplierName = '';
            var altSupItemLink = '';
            var altSupItemPrice = '';
            //itemListRes[0].altSupItemLink = onclick="javascript:alert('You have not selected a supplier to associate the item with')"
            
            for (var j = 0; j < itemListRes.length; j++) { 
            if(itemListRes[j].supplierName2 == null)itemListRes[j].supplierName2 = 'Associate supplier';
            if(itemListRes[j].supItemLink2 == null)itemListRes[j].supItemLink2 = onclick="javascript:alert('You have not selected a supplier to associate the item with')"
            if(itemListRes[j].supItemPrice2 == null)itemListRes[j].supItemPrice2 = '';
            }

            for (var j = 0; j < itemListRes.length; j++) { 
            if(itemListRes[j].supplierName3 == null)itemListRes[j].supplierName3 = 'Associate supplier';
            if(itemListRes[j].supItemLink3 == null)itemListRes[j].supItemLink3 = onclick="javascript:alert('You have not selected a supplier to associate the item with')"
            if(itemListRes[j].supItemPrice3 == null)itemListRes[j].supItemPrice3 = '';
            }
            

            var i = ''
            for (i = 0; i < itemListRes.length; i++) { 
            data +=  '<div class="box"> \
                            <div type="button" id="btn" style="float: right"><i class="fa fa-trash-o"></i></button></div> \
                            <section class="products"> \
                              <div class="product-card"> \
                                <div class="product-image"><img src="'+ itemListRes[i].itemPic +'"></div> \
                                <div class="product-info"><span style="font-weight: bold">Name: </span>'+ itemListRes[i].itemName +'<br><br> \
                                <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].storeItemLink +'" target="_blank">Go</a><br> \
                                <span style="font-weight: bold">price:</span> '+ itemListRes[i].itemPrice +'<br><br> \
                                <div style="text-align:center"> \
                                </div> \
                                <div class="row"> \
                                    <div class="column" onclick='+"openTab("+[i]+"+'b1');"+' style="background:green;"> \
                                    1st Sup \
                                    </div> \
                                    <div class="column" onclick='+"openTab("+[i]+"+'b2');"+' style="background:orange;"> \
                                    2nd Sup \
                                    </div> \
                                    <div class="column" onclick='+"openTab("+[i]+"+'b3');"+' style="background:red;">\
                                    3rd Sup \
                                    </div> \
                                </div> \
                                <div id="'+[i]+'b1" class="containerTab" > \
                                    <span onclick='+"this.parentElement.style.display='none'"+' class="closebtn">&times;</span> \
                                    <span style="font-weight: bold">Supplier name: </span>'+ itemListRes[i].supplierName +'<br> \
                                    <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].supItemLink +'" target="_blank">Go</a><br> \
                                    <span style="font-weight: bold">Price: </span>'+ itemListRes[i].supItemPrice +'$ \
                                </div> \
                                <div id="'+[i]+'b2" class="containerTab" style="display:none;"> \
                                    <span onclick='+"this.parentElement.style.display='none'"+' class="closebtn">&times;</span> \
                                    <span style="font-weight: bold">Supplier name: </span>'+ itemListRes[i].supplierName2 +'<br> \
                                    <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].supItemLink2 +'" target="_blank">Go</a><br> \
                                    <span style="font-weight: bold">Price: </span>'+ itemListRes[i].supItemPrice2 +'$ \
                                </div> \
                                <div id="'+[i]+'b3" class="containerTab" style="display:none;"> \
                                    <span onclick='+"this.parentElement.style.display='none'"+' class="closebtn">&times;</span> \
                                    <span style="font-weight: bold">Supplier name: </span>'+ itemListRes[i].supplierName3 +'<br> \
                                    <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].supItemLink3 +'" target="_blank">Go</a><br> \
                                    <span style="font-weight: bold">Price: </span>'+ itemListRes[i].supItemPrice3 +'$</div> \
                                </div> \
                            </section> \
                            </div> \
                    </div>'
            }

            function openTab(tabName) {
            var i, x;
            x = document.getElementsByClassName("containerTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
            }

            function make() {alert()}
            document.getElementById("createNewAccosiatedItem").innerHTML = data;

//-----------------------------------------------Load Non Associated Items----------------------------------------------------------------
            
            var itemListRes = JSON.parse('<%-JSON.stringify(answer.nitemListRes)%>');
            
            var itemName = '';
            var supplierName = '';
            var storeItemLink = '';
            var supItemLink = '';
            var itemPic = '';
            var category = '';
            var itemPrice = '';
            var data = '';

            var i = ''
            for (i = 0; i < itemListRes.length; i++) { 
            data += '<div class="box"><div type="button" id="btn" style="float: right"><i class="fa fa-trash-o"></i></button></div><section class="products"><div class="product-card"><div class="product-image"><img src="'+ itemListRes[i].itemPic +'"></div><div class="product-info"><span style="font-weight: bold">Name: </span> '+ itemListRes[i].itemName +'<br><br><span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].storeItemLink +'" target="_blank">Go</a><br><span style="font-weight: bold">Price: </span><span>'+ itemListRes[i].itemPrice + '$</span></div></div></div>'
            }
            function make(e) {alert()}
            document.getElementById("createNewItem").innerHTML = data;

//-----------------------------------------------Add New Item----------------------------------------------------------------

            $('#addNewItem').submit(function(event){
            event.preventDefault();
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = $(this).serialize();
                    
            var addNewItem = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        addNewItem.fail( function() {
                        window.alert("Fail!");
                        });

                        addNewItem.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var delayInMilliseconds = 2000;
                                
                                setTimeout(function() {
                                    location.reload();
                                }, delayInMilliseconds);
                                
                                $("#message").html(response.message);
                            }
                        });
             })

//-----------------------------------------------Item Association To Suppliers----------------------------------------------------------------

            $('#associateItem').submit(function(){
            event.preventDefault();
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = $(this).serialize();
                    
            var associateItem = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        associateItem.fail( function() {
                        window.alert("Fail!");
                        });

                        associateItem.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var delayInMilliseconds = 2000;
                                
                                setTimeout(function() {
                                    location.reload();
                                }, delayInMilliseconds);
                                
                                $("#message").html(response.message);
                            }
                        });
             })


//-----------------------------------------------Load Suppliers Options----------------------------------------------------------------

            $('#supNameSelect').change(function(){
            $('supNameForm').submit();
            event.preventDefault();
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = $(this).serialize();
                    
            var loadStores = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        loadStores.fail( function() {
                        window.alert("Fail!");
                        });

                        loadStores.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var storeNumRes = response.storeNumRes;
                                var selectStore = document.getElementById("storeNumSelect")
                                selectStore.options.length = 0;
                                for(index in storeNumRes) {
                                    selectStore.options[selectStore.options.length] = new Option(storeNumRes[index], storeNumRes[index]);

                                var itemsNameRes = response.itemsNameRes;
                                var selectItem = document.getElementById("itemNameSelect");
                                selectItem.options.length = 0;
                                for(index in itemsNameRes) {
                                    selectItem.options[selectItem.options.length] = new Option(itemsNameRes[index], itemsNameRes[index]);
                                }

                                }
                            }
                        
                        });
             })

            var supplierNameRes = JSON.parse('<%-JSON.stringify(answer.supplierNameRes)%>');
            var select = document.getElementById("supNameSelect");
            for(index in supplierNameRes) {
                select.options[select.options.length] = new Option(supplierNameRes[index], supplierNameRes[index]);
             }


</script>


</body></html>