
<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129399506-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129399506-1');
</script>

<%- include sidebar %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Documentation</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
</head>
<style>

#logs{
width:100%;
border: none;
border-radius:none;
padding:1px;
font-size: 16px;
text-align:left;
font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

#logs th{
    text-align: left;
}

#logs input,#logs select {
  width: 200px;
}
h2{
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin:0;
}
nav{
    width: 100%;
    background: Indigo;
    padding: 20px;
    box-shadow: 0 4px goldenrod; 
    /* border-bottom: 1px solid black;*/
}
  #methodform{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: LightBlue;
  border-color:LightBlue;
  border-radius: 5px; 
  border-width: 1px;
  width: 110px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center; 
    }

  #newlog {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background: LightSlateGray;
  border-color:LightSlateGray;
  border-radius: 5px; 
  border-width: 1px;
  width: 110px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center;   
}
#newlog:hover,.form button:active,.form button:focus {
  background:darkgrey; ;
}

#submitbutt {
  background:indigo;
}
#submitbutt:hover,.form button:active,.form button:focus {
  background:goldenrod;
}

#logshistory{
    width:100%;
    border: rgb(190, 190, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size: 13px;
}
#logshistory th{
    text-align: center;
}

</style>
<h2 style="text-align: center"><nav>Documentation Page</nav></h2><br>
<div class = "padding">
<body>

<div class="border"></div>

    <form id="addNewLog" method="POST" action="/home/suppliers/logs">

        <table id="logs"><tr>
            <th> Supplier Name</th>
            <th> Store Num</th>
            <th>Date</th>
            <th> Subject</th>
            <th> Method</th>
            <th> Content</th>
            </tr>
        <tr>
            <td>
                <form id="supNameForm" method="POST" action="/home/suppliers/logs">
                    <select id="supNameSelect" data-live-search="true" class="selectpicker" name="supplierName1"  method="POST" action="/home/suppliers/logs"></select>
                </form>
            </td>
            <td> 
                <select id="storeNumSelect" data-live-search="true" class="form-control" name="storeNum"></select>
            </td>
            <td> <input class="form-control" type="datetime-local" name="dateOfConversation"/></td>
            <td> <input type="text" class="form-control" name="subject" /></td>
            <td> <select id="methodlist" class="form-control" name="methodList">
                <option value="Mail">Mail</option>
                <option value="WeChat">Wechat</option>
                <option value="Skype">Skype</option>
                <option value="Phone">Phone</option>
                </select>
            </td>
            <td><input type="text" class="form-control" name="content"/></td>
            <td><input id="Clear" type="reset" value="Clear" class="form-control"/></td>
            </tr>
        </table><br>
        <div style="text-align:center"><button id="submitbutt" type="submit" class="btn btn-primary btn-lg">Submit</button></div>

    </form>
        
        <div style="text-align:center"><h1 id="message"></h1></div>
        
    <h2><nav> Documentation history</nav></h2><br>
    <div style="text-align:center"><form id="supForm" method="POST" action="/home/suppliers/logs">
        <select id="supSelect" data-live-search="true" class="selectpicker" name="supplierName2" method="POST" action="/home/suppliers/logs"></select><br><br>
        <table id="logshistory" border="1">
                <tr>
                    <th> Supplier Name</th>
                    <th> Store num</th>
                    <th> Date</th>
                    <th> Subject</th>
                    <th> method</th>
                    <th> Content</th>
                </tr>
                <tr><td id="supplierNameLogs"></td>
                    <td id="storeNumLogs"></td>
                    <td id="dateOfConversationLogs"> </td>
                    <td id="titleLogs"> </td>
                    <td id="communicationMethodLogs"> </td>
                    <td id="contentLogs"> </td>
                </tr>

        </table>

    </div>

      

        <script>


            $('#addNewLog').submit(function(){
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serialize(); //Encode form elements for submission
                    
            var addLog = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        addLog.fail( function() {
                        window.alert("Fail!");
                        });

                        addLog.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var delayInMilliseconds = 2000;
                                
                                setTimeout(function() {
                                    location.reload();
                                }, delayInMilliseconds);
                                
                                $("#message").html(response);
                            }
                        });
             })


//-----------------------------------------------Load Logs History----------------------------------------------------------------
            $('#supSelect').change(function(){
            $('supForm').submit();
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serialize(); //Encode form elements for submission
                    
            var loadLogs = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        loadLogs.fail( function() {
                        window.alert("Fail!");
                        });

                        loadLogs.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var logsListRes = response;
                                LogsList(logsListRes);
                            }
                        
                        });
             })

                                       
            var logsListRes = JSON.parse('<%-JSON.stringify(answer.logsListRes)%>');
            
            function LogsList (logsListRes){

            var storeNum = '';
            var supplierName = '';
            var dateOfConversation = '';
            var title = '';
            var communicationMethod = '';
            var content = '';
            var i = '';

            for (i = 0; i < logsListRes.length; i++) { 
            storeNum += logsListRes[i].storeNum + "<br><br>";
            supplierName += logsListRes[i].supplierName + "<br><br>";
            dateOfConversation += logsListRes[i].dateOfConversation.replace("T", ",").substr(0, logsListRes[i].dateOfConversation.lastIndexOf(".")) + "<br><br>";
            title += logsListRes[i].title + "<br><br>";
            communicationMethod += logsListRes[i].communicationMethod + "<br><br>";
            content += logsListRes[i].content + "<br><br>";
            }
            
            document.getElementById("storeNumLogs").innerHTML = storeNum;
            document.getElementById("supplierNameLogs").innerHTML = supplierName;
            document.getElementById("dateOfConversationLogs").innerHTML = dateOfConversation;
            document.getElementById("titleLogs").innerHTML = title;
            document.getElementById("communicationMethodLogs").innerHTML = communicationMethod;
            document.getElementById("contentLogs").innerHTML = content;
        }

            LogsList(logsListRes);

    
//-----------------------------------------------Load Suppliers Options----------------------------------------------------------------

            $('#supNameSelect').change(function(){
            $('supNameForm').submit();
            event.preventDefault();
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = $(this).serialize();
                    
            var loadStores = $.ajax({
                        url : post_url,
                        type: request_method,
                        data : form_data,
                        });
                        
                        loadStores.fail( function() {
                        window.alert("Fail!");
                        });

                        loadStores.done( function(response) {
                            if (response.redirect !== undefined && response.redirect) {
                            window.location.href = response.redirect_url;
                            }else{
                                var storeNumRes = response;
                                var select = document.getElementById("storeNumSelect")
                                select.options.length = 0;
                                for(index in storeNumRes) {
                                    select.options[select.options.length] = new Option(storeNumRes[index], storeNumRes[index]);
                                }
                            }
                        
                        });
             })

            var supplierNameRes = JSON.parse('<%-JSON.stringify(answer.supplierNameRes)%>');
            var select = document.getElementById("supNameSelect");
            for(index in supplierNameRes) {
                select.options[select.options.length] = new Option(supplierNameRes[index], supplierNameRes[index]);
             }


                    
            var supplierFirstNameRes = JSON.parse('<%-JSON.stringify(answer.supplierNameMenuRes)%>'); //Load Filtered Supplier Logs List
                        
            var select = document.getElementById("supSelect");
            for(index in supplierFirstNameRes) {
                select.options[select.options.length] = new Option(supplierFirstNameRes[index], supplierFirstNameRes[index]);
            }

        </script>
</body>
</html>