<!DOCTYPE html>

<html>
<head> 
<%- include sidebar %>
    <style type="text/css">

    .myLogsTable{
        width:100% ;
        border: 1px solid black;
        font-family:'Agency FB';
    }
    h1{
        text-align:center;
    }
    #logshistory{
        width:100%;
        border: 1px solid black;
        font-family:'Agency FB';
    }
    
input[type="text"] {
    width: 200px;
}

input[type="datetime-local"] {
    width: 200px;
}

input[type="methodlist"] {
    width: 200px;
}

select { width: 200px;}

.alignTB{
    margin-left: 30px;
}


    </style>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
<div class="padding">
    <h1> <b>+ New log</b></h1>
        <table  class="myLogsTable"> 
            <tr><th> Store num</th>
            <th> Supplier Name</th>
            <th class="alignTB">Date of conversion</th>
            <th class="alignTB">  Subject</th>
            <th> communication method</th>
            <th> Content</th>
            <th> Cancel</th>
            </tr>
            </table>
            <div id="logRow">
            <form method="post" action="/home/suppliers/logs">
            <table  class="myLogsTable" cellspacing="10">
            <tr ><td class="alignTB"> <input type="text" placeholder="Store Number" name="storeNum"/></td>
                <td> <input type="text" placeholder="Subject" name="supplierName" /></td>
            <td> <input type="datetime-local" name="dateOfConversion"/></td>
            <td> <input type="text" placeholder="Subject" name="subject" /></td>
            <td> <select name="methodList">
            <option value="mail">Mail</option>
            <option value="wechat">Wechat</option>
            <option value="skype">Skype</option>
            <option value="phone">Phone</option>
                 </select> </td>
            <td> <input type="text" placeholder="Content" name="content" /></td>
            <td> <input type="reset" value="Clear" /> </td>
            </tr>
        </table>
        <div style="text-align:center"><button id="submitbutt" type="submit" value="Submit">Submit</button></div>
        </form>
        <button type="button" onclick="LogsFormClone()">+Add new log</button>
        </div>

        <div id="newLogRow"></div>

        <h1><% if (answer.message.length > 0) { %> <div><%= answer.message %></div> <% } %></h1>
        
        
        



        <script>
        function LogsFormClone() {
            var itm = document.getElementById("logRow");
            var cln = itm.cloneNode(true);
            document.getElementById("newLogRow").appendChild(cln);
        }
        </script>
        
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////-->
  
<form>
    <h1> Logs history</h1>
    <table id="logshistory">
        <tr>
            <th> Store num</th>
            <th>Date of conversion</th>
            <th> Subject</th>
            <th> communication method</th>
            <th> Content</th>
        </tr>
        <tr> <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>

        </table>
  </form>

    </div>

    
</body>
</html>