<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129399506-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129399506-1');
</script>

<%- include home_page %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
            
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: 50px 800px;
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  position: relative;
  z-index: 1;
  border-style: solid;
  border-color:white;
  border-width: 5px;
  border-radius: 12px;
  background-color: rgb(128, 128, 128);
  opacity: 1;
  padding: 50px 0px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 60%;
  border-style: solid;
  border-color:white;
  border-radius: 12px;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(228, 198, 30, 0.822);
  width: 60%;
  border-style: solid;
  border-radius: 12px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:  rgba(128, 128, 128, 0.842);
}

 </style>

<div class="login-page">
    <div class="form">
      <h2 style="text-align: center;font-weight: bold">Sign-in</h2><br>

      <form action="/login" method="POST">
        <input type="text" placeholder="username" name="user_name"/><br>
        <input type="password" placeholder="password" name="password"/><br>

        <% if (answer.message.length > 0) { %>
          <div><%= answer.message %></div>
        <% } %>
        <br>
        <button type="submit">Login</button><br>
    
        <p class="message">Not registered? <a href="/signup">Create an account</a></p>

      </form>
    </div>
  </div>
</body>
</html>