<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Hello Dashboard</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Profile view »</a>
        </p>
      </div>
    <%- include footer %>