<!DOCTYPE html>
<html>
<%- include sidebar %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<style>
h2{
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin:0;
}
nav{
    width: 100%;
    background: darkred;
    padding: 20px;
    box-shadow: 0 4px darksalmon; 
}


.spacer { margin:0; padding:0; height:50px; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  left: 52%;
  top: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table, th, td {
    width:50%;
    text-align:center;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    text-align:center;
    padding: 15px;
}
table#logshistory tr:nth-child(even) {
    text-align:center;
    background-color: #eee;
}
table#logshistory tr:nth-child(odd) {
   text-align:center;
   background-color: #fff;
}
table#logshistory th {
   text-align:center;
   background-color: darkred;
   color: white;
   font-size: 20px
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
</style>
<body>
<h2 style="text-align: center"><nav id="stickHeader">Search suppliers in <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Aliexpress_logo.svg/2000px-Aliexpress_logo.svg.png" alt="Aliexpress" width="180px" height="25px"></span></nav></h2><br>
<div class="padding">
<form id="searchNewSup" action="/home/suppliers/searchsup" method="POST"> 
  <div class="row">
    <div class="col-xs-6 col-md-offset-3">
        <p class="spacer">How many supplier do you want to search? <input id="qty" type="number" min="1" max="20" name="qty"/></p>
      <div class="input-group">
        <input id="search" type="text" name="search" class="form-control" placeholder="What do you want to sell?"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form><br><br>

<div class="loader"></div>

<table id="logshistory" style="width:100%">
        <tr>
                <th> Supplier Name</th>
                <th> Store Link</th>
        </tr>
        <tr>
            <td id="supplierNameRecord"> </td>
            <td id="storeLinkRecord"></td>
        </tr>
        </table>

</div>

<script>

window.onscroll = function() {myFunction()};

var navbar = document.getElementById("stickHeader");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

        $('.loader').hide();
        $( document ).ajaxStart(function() {
            $( ".loader" ).show();
        });

         $( document ).ajaxComplete(function() {
            $( ".loader" ).hide();
         });

        document.getElementById('qty').value = '5';
    
                $('#searchNewSup').submit(function(event){
                event.preventDefault(); //prevent default action 
                var post_url = $(this).attr("action"); //get form action url
                var request_method = $(this).attr("method"); //get form GET/POST method
                var form_data = $(this).serialize(); //Encode form elements for submission
                        
                var searchsup = $.ajax({
                            url : post_url,
                            type: request_method,
                            data : form_data,
                            });
                            
                            searchsup.fail( function() {
                            window.alert("Fail!");
                            });
    
                            searchsup.done( function(response) {
                                if (response.redirect !== undefined && response.redirect) {
                                window.location.href = response.redirect_url;
                                }else{

                                    var suppliersData = response.suppliersData;
                                    var supplierName = '';
                                    var storeLink = '';
                                    var i = '';
    
                                    for (i = 0; i < suppliersData.length; i++) { 
                                    supplierName += suppliersData[i].store.name + "<br><br>";
                                    storeLink +='<a href="'+ suppliersData[i].store.url +'" target="_blank">Go To Store</a>' + "<br><br>";
                                    }
                                    
                                    document.getElementById("supplierNameRecord").innerHTML = supplierName;
                                    document.getElementById("storeLinkRecord").innerHTML = storeLink;
                                }
                            });
                 })
    </script>
</body>
</html>
