<!DOCTYPE html>
<html>
<body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body{
        background-image:none;}

    .sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 0px;
    border-style:ridge;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color:rgb(27, 136, 209);
}

div.padding {
    padding-top: 35px;
    padding-left: 182px

}

div.floatRight {
    float:right;
}

#login-icon{
    font-size: 25px;
    }
</style>

    
        <div class="sidenav">
                <a class="active" href="/home/dashboard"><i class="fa fa-home"></i> DSM-Home</i></a><br>
                <a href="/home/profile"><i class="fa fa-bars"></i> User Profile</a>
                <a href="/home/suppliers"><i class="fa fa-handshake-o"></i> Suppliers</a>
                <a href="/home/suppliers/addOrder"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                <a href="/home/analitics"><i class="fa fa-area-chart"></i> Analytics</a>  
                <a href="/home/suppliers/addsup"><i class="fa fa-area-chart"></i> Add New Sup</a>
                <a href="/home/suppliers/searchsup"><i class="fa fa-area-chart"></i> Search New Sup</a>  
                <a href="/home/suppliers/logs"><i class="fa fa-area-chart"></i> Logs</a>
                <a href="/home/suppliers/addItem"><i class="fa fa-area-chart"></i> Items</a>
        </div>


        <div class="floatRight"> 
            <select id="login-icon" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                  <option selected disabled><% if (answer.sendName.length > 0) { %><div><%= answer.sendName %></div><% } %> </option>
                  <option href="login" value="/login">Sign In</option>
                  <option href="signup" value="/signup">Sign Up</option>
                  <option href="home/profile" value="/home/profile">User</option>
                  <option href="/home/logout" value="/home/logout">Log Out</option>
            </select>
          </div>

</body>
</html>