<!DOCTYPE html>
<html> 
<head>
<%- include sidebar %> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Suppliers</title>
<style>

* {box-sizing: border-box;}

.wrapper { 
    width: 100%;
    display: grid; 
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 140px; 
    max-width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
} 

.wrapper > div {
    grid-row-end: span 2;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color:black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.boxsize {
    max-height: 600px;
    max-width: 600px;
}

.box {
    width:310px;
    background:white;
    padding:1%;
    border: 1px solid black;
    border-radius: 5px;
    display:inline-block;
    text-align: center;  
}
/*Supplier Details*/
.box1 { 
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    font-size:14px;
    text-indent: 20px;
    line-height: 15px;
    min-width:500px;
}

/*logs*/
.box2 { 
    grid-column-start: 2;
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3;
    min-width:800px;
}

/*analystics*/
.box3 { 
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row-start: 3; 
    grid-row-end: 5; 
    font-size:14px;
}

/*orders*/
.box4 { 
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start:3;
    grid-row-end:5;
    min-width:800px
}

/*products*/
.box5{
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 5; 
    grid-row-end:span;
    display:table; 
    font-size:15px;   
}

.link a {
    color: rgba(29, 6, 155, 0.877);
    font-size: 12;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    background: rgba(3, 34, 134, 0.842);
    border-color:black;
    border-radius: 5px; 
    border-width: 1px;
    width: 120px;
    padding: 6px;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.button:hover,.form button:active,.form button:focus {
  background:goldenrod;
}
#btn {
    background-color: none;
    border: none;
    color: black;
    width: 22px;
    text-align: center;
    padding: 2px 2px;
    border-style: none;
    font-size: 25px;
    cursor: pointer;
    float: top right;    
}
/* Darker background on mouse-over */
#btn:hover {
    background-color:goldenrod;
}

table{
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
    width:100%;
}

.products {
display:flex;
flex-wrap: wrap;
min-height: 500px
}

.product-card {
	display:table-column;
	flex-direction:column;
	padding: 2%;
	flex: 1 16%;
	background-color: #FFF;
	box-shadow: none;
}

.product-image img {
	width: 80%;
    height: 200px;
}

.product-info {
    line-height: 1.6;
	margin-top: auto;
	padding-top: 20px;
	text-align: left;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}

/* Product Layout */

.product-filter {
	display: flex;
	padding: 5px 150px;
}
 
h3 {
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.b{
  font-weight:bold;
}

#logshistory{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size: 13px;
    
}
#logshistory th{
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

#ordershistory th{
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}

#ordershistory{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size: 12px;
}

/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 31%;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border:none;
    margin: 1%;
}

.containerTab {
    padding-top: 10px;
    -webkit-text-fill-color: black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the container tab */
.closebtn {
    float: right;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

</style>
<body>

<div class="padding">
    <div style="text-align:center">
    <h3>Select Supplier</h3>
    <form id="supNameForm" method="POST" action="/home/suppliers">
        <select id="supNameSelect" data-live-search="true" class="selectpicker" name="supplierName"  method="POST" action="/home/suppliers">
            <option selected="disabled"></option>
        </select>
    </form>
    </div>
    <br>

    <div class="wrapper">
        <div class="box1"> 
            <div class="link">
            <a href="#" target="_blank" id="storeLink"><i class=" fa fa-cart-arrow-down"></i> go to store</a>
            </div>
            <h3><i style="font-size: 20px" class="fa fa-vcard"></i> Supplier Details</h3>
            <img style="float: right" width:="200px" height="200px" src="https://png.icons8.com/color/1600/supplier.png" alt="No Picture">
            <span style="text-align:left">
            <div><br>
            <i class="fa fa-user-secret"></i><span class="b"> Supplier Name: </span><span id="supplierName"></span><br><br>
            <i class="fa fa-home"></i><span class="b"> Store Number: </span><span id="storeNum"></span><br><br>
            <i class="fa fa-wrench"></i><span class="b"> Establish Year: </span><span id="establishYear"></span><br><br>
            <i class="fa fa-phone"></i><span class="b"> Phone Num: </span><span id="phoneNum"></span><br><br>
            <i class="fa fa-envelope-o"></i><span class="b"> E-mail: </span><span id="email"></span><br><br>
            <i class="fa fa-wechat"></i><span class="b"> We-Chat: </span><span id="wechat"></span><br><br>
            <i class="fa fa-skype"></i><span class="b"> Skype: </span><span id="skypeID"></span><br><br>
            </div>
            </span>
        </div>

        <div class="box2">
            <h3>Logs history</h3>
            <form action="/home/suppliers/logs" method="get">
                <button class="button" type="submit">+ New log</button>
            </form>
            <br>
            <table id="logshistory">
                <tr>
                    <th> Date of conversion</th>
                    <th> Subject</th>
                    <th> communication method</th>
                    <th colspan="2"> Content</th>
                </tr>
                <tr>
                    <td id="dateOfConversionLogs"> </td>
                    <td id="titleLogs"> </td>
                    <td id="communicationMethodLogs"> </td>
                    <td id="contentLogs" colspan="2"> </td>
                </tr>
            </table>
        </div>
    
        <div class="box3">
                <h3>Analytics Performance</h3> 
                <form action="/home/analitics" method="get">
                    <button class="button" type="submit">Analytics Page</button>
                </form>
                <div class="boxsize"><canvas id="line-chart" height="95px"></canvas></div>
        </div>
                
        <div class="box4">
            <h3>Orders</h3>
            <form action="/home/suppliers/addOrder" method="get">
                <button class="button" type="submit">+ New order</button>
            </form>
            <table id="ordershistory">
                <tr>
                    <th colspan="2">Item Name</th>
                    <th>Sold For</th>
                    <th>Order Date</th>
                    <th>Qty</th>
                    <th>Order Status</th>
                    <th>Tracking Number</th>
                </tr>
                <tr>
                    <td id="itemNameRecord" colspan="2"></td>
                    <td id="itemPriceRecord"></td>
                    <td id="orderDateRecord"></td>
                    <td id="qtySoldRecord"></td>
                    <td id="statusOfOrderRecord"></td>
                    <td id="trackNumRecord"></td>
                </tr>
            </table>
        </div>   


        <div class="box5">
                <h3>Products</h3>
                <form action="/home/suppliers/addItem" method="get">
                    <button class="button" type="submit">+ New product</button>
                </form>
                <br>
                <span style="text-align:center" id="createNewAccosiatedItem"></span>
        </div>

    </div>
</div>


<script>

//Analitics
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});

//-----------------------------------------------Load Logs List----------------------------------------------------------------

$('#supNameForm').change(function(){
$('supNameForm').submit();
event.preventDefault();
var post_url = $(this).attr("action");
var request_method = $(this).attr("method");
var form_data = $(this).serialize();
        
var addLog = $.ajax({
            url : post_url,
            type: request_method,
            data : form_data,
            });
            
            addLog.fail( function() {
            window.alert("Fail!");
            });

            addLog.done( function(response) {
                if (response.redirect !== undefined && response.redirect) {
                window.location.href = response.redirect_url;
                }else{

                var supplierNameDet = response.post.supplierName;
                var storeNumDet = response.post.storeNum;
                var storeLinkDet = response.post.storeLink;
                var establishYearDet = response.post.establishYear;
                var phoneNumDet = response.post.phoneNum;
                var emailDet = response.post.email;
                var wechatDet = response.post.wechat;
                var skypeIDDet = response.post.skypeID;

                document.getElementById("supplierName").innerHTML = supplierNameDet;
                document.getElementById("storeNum").innerHTML = storeNumDet;
                document.getElementById("storeLink").setAttribute("href",storeLinkDet);
                document.getElementById("establishYear").innerHTML = establishYearDet;
                document.getElementById("phoneNum").innerHTML = phoneNumDet;
                document.getElementById("email").innerHTML = emailDet;
                document.getElementById("wechat").innerHTML = wechatDet;
                document.getElementById("skypeID").innerHTML = skypeIDDet;


                var supplierNameLog = '';
                var storeNumLog = '';
                var dateOfConversionLog = '';
                var titleLog = '';
                var communicationMethodLog = '';
                var contentLog = '';
                var i = '';
                  
                var logsListRes = response.logsListRes;

                for (i = 0; i < logsListRes.length; i++) { 
                dateOfConversionLog += logsListRes[i].dateOfConversion.replace("T", ",").substr(0, logsListRes[i].dateOfConversion.lastIndexOf(".")) + "<br><br>";
                titleLog += logsListRes[i].title + "<br><br>";
                communicationMethodLog += logsListRes[i].communicationMethod + "<br><br>";
                contentLog += logsListRes[i].content + "<br><br>";
                }
                  

                document.getElementById("dateOfConversionLogs").innerHTML = dateOfConversionLog;
                document.getElementById("titleLogs").innerHTML = titleLog;
                document.getElementById("communicationMethodLogs").innerHTML = communicationMethodLog;
                document.getElementById("contentLogs").innerHTML = contentLog;


                var ordersListRes = response.ordersListRes;

                var supplierName = '';
                var itemName = '';
                var itemPrice = '';
                var supItemPrice = '';
                var orderDate = '';
                var qtySold = '';
                var statusOfOrder = '';
                var awShip = '';
                var trackNum = '';
                var addTrackNum = '';
                var deleteOrder = '';
                var refundOrder = '';
                var j = -1;

                for (var i = 0; i < ordersListRes.length; i++) {
                if(ordersListRes[i].statusOfOrder == 'Refund'){
                itemName += ordersListRes[i].itemName.split(' ', 6).join(' ') + "..." + "<br><br>";
                itemPrice += ordersListRes[i].itemPrice*ordersListRes[i].qtySold  + "<br><br>";
                orderDate += ordersListRes[i].orderDate.replace("T", ",").substr(0, ordersListRes[i].orderDate.lastIndexOf(".")) + "<br><br>";
                qtySold += ordersListRes[i].qtySold + "<br><br>";
                statusOfOrder += ordersListRes[i].statusOfOrder + "<br><br>";
                trackNum += ordersListRes[i].trackNum + "<br><br>";
                }else{
                itemName += ordersListRes[i].itemName.split(' ', 6).join(' ') + "..." + "<br><br>";
                itemPrice += ordersListRes[i].itemPrice*ordersListRes[i].qtySold  + "<br><br>";
                orderDate += ordersListRes[i].orderDate.replace("T", ",").substr(0, ordersListRes[i].orderDate.lastIndexOf(".")) + "<br><br>";
                qtySold += ordersListRes[i].qtySold + "<br><br>";
                statusOfOrder += ordersListRes[i].statusOfOrder + "<br><br>";
                if(ordersListRes[i].trackNum != null){
                    j++;
                    trackNum += '<a href="https://t.17track.net/en#nums='+ ordersListRes[i].trackNum +'" target="_blank">'+ ordersListRes[i].trackNum +'</a>' + "<br><br>";
                    //trackNum += '<a href="'+ TrakerInfo[j].trackerWebsite +'" target="_blank">'+ ordersListRes[i].trackNum +'</a>' + "<br><br>";
                    }else{
                    trackNum += ordersListRes[i].trackNum + "<br><br>";
                }   
                }
                }
                
                document.getElementById("itemNameRecord").innerHTML = itemName;
                document.getElementById("itemPriceRecord").innerHTML = itemPrice;
                document.getElementById("orderDateRecord").innerHTML = orderDate;
                document.getElementById("qtySoldRecord").innerHTML = qtySold;
                document.getElementById("statusOfOrderRecord").innerHTML = statusOfOrder;
                document.getElementById("trackNumRecord").innerHTML = trackNum;



                var itemListRes = response.itemListRes;
            
            
                var itemName = '';
                var supplierName = '';
                var storeItemLink = '';
                var supItemLink = '';
                var itemPic = '';
                var category = '';
                var itemPrice = '';
                var data = '';
                var supItemPrice = '';
                var altSupplierName = '';
                var altSupItemLink = '';
                var altSupItemPrice = '';
                //itemListRes[0].altSupItemLink = onclick="javascript:alert('You have not selected a supplier to associate the item with')"
                
                for (var j = 0; j < itemListRes.length; j++) { 
                if(itemListRes[j].supplierName2 == null)itemListRes[j].supplierName2 = 'Associate supplier';
                if(itemListRes[j].supItemLink2 == null)itemListRes[j].supItemLink2 = onclick="javascript:alert('You have not selected a supplier to associate the item with')"
                if(itemListRes[j].supItemPrice2 == null)itemListRes[j].supItemPrice2 = '';
                }

                for (var j = 0; j < itemListRes.length; j++) { 
                if(itemListRes[j].supplierName3 == null)itemListRes[j].supplierName3 = 'Associate supplier';
                if(itemListRes[j].supItemLink3 == null)itemListRes[j].supItemLink3 = onclick="javascript:alert('You have not selected a supplier to associate the item with')"
                if(itemListRes[j].supItemPrice3 == null)itemListRes[j].supItemPrice3 = '';
                }
                

                var i = ''
                for (i = 0; i < itemListRes.length; i++) { 
                data +=  '<div class="box"> \
                                <div type="button" id="btn" style="float: right"><i class="fa fa-trash-o"></i></button></div> \
                                <section class="products"> \
                                <div class="product-card"> \
                                    <div class="product-image"><img src="'+ itemListRes[i].itemPic +'"></div> \
                                    <div class="product-info"><span style="font-weight: bold">Name: </span>'+ itemListRes[i].itemName +'<br><br> \
                                    <span style="font-weight: bold">Category: </span>'+itemListRes[i].category+'<br> \
                                    <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].storeItemLink +'" target="_blank">Go</a><br> \
                                    <span style="font-weight: bold">price:</span> '+ itemListRes[i].itemPrice +'<br><br> \
                                    <div style="text-align:center"> \
                                    </div> \
                                    <div class="row"> \
                                        <div class="column" onclick='+"openTab("+[i]+"+'b1');"+' style="background:green;"> \
                                        1st Sup \
                                        </div> \
                                        <div class="column" onclick='+"openTab("+[i]+"+'b2');"+' style="background:orange;"> \
                                        2nd Sup \
                                        </div> \
                                        <div class="column" onclick='+"openTab("+[i]+"+'b3');"+' style="background:red;">\
                                        3rd Sup \
                                        </div> \
                                    </div> \
                                    <div id="'+[i]+'b1" class="containerTab" > \
                                        <span onclick='+"this.parentElement.style.display='none'"+' class="closebtn">&times;</span> \
                                        <span style="font-weight: bold">Supplier name: </span>'+ itemListRes[i].supplierName +'<br> \
                                        <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].supItemLink +'" target="_blank">Go</a><br> \
                                        <span style="font-weight: bold">Price: </span>'+ itemListRes[i].supItemPrice +'$ \
                                    </div> \
                                    <div id="'+[i]+'b2" class="containerTab" style="display:none;"> \
                                        <span onclick='+"this.parentElement.style.display='none'"+' class="closebtn">&times;</span> \
                                        <span style="font-weight: bold">Supplier name: </span>'+ itemListRes[i].supplierName2 +'<br> \
                                        <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].supItemLink2 +'" target="_blank">Go</a><br> \
                                        <span style="font-weight: bold">Price: </span>'+ itemListRes[i].supItemPrice2 +'$ \
                                    </div> \
                                    <div id="'+[i]+'b3" class="containerTab" style="display:none;"> \
                                        <span onclick='+"this.parentElement.style.display='none'"+' class="closebtn">&times;</span> \
                                        <span style="font-weight: bold">Supplier name: </span>'+ itemListRes[i].supplierName3 +'<br> \
                                        <span style="font-weight: bold">Item link: </span><a href="'+ itemListRes[i].supItemLink3 +'" target="_blank">Go</a><br> \
                                        <span style="font-weight: bold">Price: </span>'+ itemListRes[i].supItemPrice3 +'$</div> \
                                    </div> \
                                </section> \
                                </div> \
                        </div>'
                }

                function make() {alert()}
                document.getElementById("createNewAccosiatedItem").innerHTML = data;
                }
                });
})
  
function openTab(tabName) {
var i, x;
x = document.getElementsByClassName("containerTab");
for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
}
document.getElementById(tabName).style.display = "block";
}
//-----------------------------------------------Load Suppliers Options----------------------------------------------------------------

var supplierNameRes = JSON.parse('<%-JSON.stringify(answer.supplierNameRes)%>');
var select = document.getElementById("supNameSelect");
for(index in supplierNameRes) {
    select.options[select.options.length] = new Option(supplierNameRes[index], supplierNameRes[index]);
}

</script>  
</body>
</html>